<h1>About the App</h1>
<p class="bg-info text-danger">CA02 Web App </p>


    <div class="row">
      <div class="col g-info">
        Projects:<br>
        Samuel Herman - ChatGPT animals of a color<br>
        JoeBob - woof
      </div>    
      <div class="row1 custom-bg">
        <h2>Connor's Contributions</h2>
        <div class="col g-info1">
          <strong>ChefGPT:</strong><br>
          <span>ChefGPT is a kitchen assistant to help creatively generate whatever recipe fits your needs! Need something vegan, healthy, and cheap to cater for a dessert party? Just ask! ChefGPT can accommodate nearly all dietary restrictions and situations.</span><br><br>
          <strong>Cookbook:</strong><br>
          <span>ChefGPT now comes with an added cookbook! Any time you make a recipe, we’ll save it to your cookbook, and allow you to name it, add it to your favorites, or delete it all together.</span><br><br>
          <strong>DISCLAIMER:</strong><br>
          <span>chefGPT uses openAI's chatgpt language processing AI in order to create potential cooking solutions. Given that this is not chatGPT's origninal purpose, all recipes and advice given by chefGPT should be checked and/or modified by the USER in order to meet FDA guidelines. Neither the creator's of this webapp nor openAI are responsible for any consequences misuse of chefGPT nor any potential alergic reactions or sickness sustained as a result of not exercising due caution. </span><br><br>
          <strong>Bugfixes:</strong><br>
          <span>You may notice that there is a distinction between firstapp and firstappWorking. </span>
          <span>This I believe to be an error in one or more of us pushing node_modules or other packages specific  </span>
          <span>to our machine. In this case, because the project is mostly individual, I decided to </span>
          <span>sort of partition the projects into groups based on which node_modules package worked for the group members.</span>
        </div>    
      </div>
    </div>

    <style>
      h2{
        background-color:  rgb(213, 238, 235); 
      }
      .custom-bg {
        background-color:  rgb(213, 238, 235); /* set your desired tinted grey color here */
      }
      </style>